.appWrapper{
    display: grid;
    grid-template-areas: ' h '
                         ' c '
                         ' f ';
    width: 1200px;
    margin: 0 auto;
    background: whitesmoke;
} 

.modalWrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.3);
} 

.FormsControls_formControl__1XUDo .react-tel-input .form-control{
    position: relative;
    font-size: 14px;
    letter-spacing: .01rem;
    margin-top: 5px !important;
    margin-bottom: 0 !important;
    padding-left: 6px;
    margin-left: 32px;  
    height: 35px;
    width: 215px;
    border-radius: 0; 
    border: none;
    border-bottom: 1px solid black;
}
 
.FormsControls_formControl__1XUDo .react-tel-input .flag-dropdown{
    left: -5px;
}
.preloader{
    text-align: center;
    display: inline;
}
.preloader img{
    width: 80%; 
}


.loader{
    width: 100%;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}