.appHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 0;
} 

.appHeader div{
    display: flex;
}

.slogan{
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}
.slogan p{
    margin: 0;
    font-size: 18px;
    color: #174b81;
    cursor: default;
}

.logoBlock img{
    width: 80px;
    border-radius: 100%;
}

.auth{
    margin-right: 30px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color:grey
}
 

.changeLangBlock input{
    opacity: 0;
    padding: 1px 3px;
    margin-right: 1px;
}
.changeLangBlock label{
    cursor: pointer; 
} 
.changeLangBlock input:checked ~  span{
    color: red;
}

 