.appHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
} 

.appHeader div{
    display: flex;
}

.slogan{
    flex-direction: column;
    margin:0px 
}

.logoBlock img{
    width: 80px;
    border-radius: 100%;
}

.auth{
    margin-right: 30px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color:grey
}

.changeLangBlock button{
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    margin: 1px 6px;
}