.forFlexDisplay{
    display: flex;
    justify-content: space-between; 
} 

.aboutPost{
    padding: 20px;
}

.miniDiv{
    display: flex;
    justify-content: space-between;
}

.aboutPost .postImg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 300px;
    border-radius: 20px;
    border: 2px solid rgb(31, 30, 30);
    padding: 20px 10px;
}
.aboutPost .postImg.noneBorder{
    border: none;
}
.aboutPost .postImg img{
    border-radius: 20px;
    height: 100%;
}

.aboutPost .descrBlock{
    padding: 20px 0;
}



hr{
    width: 90%;
    color: #eee;
    text-align: center;
}



.aboutAuthor{
    height: 100%; 
    margin: 20px 80px 0 0;
    padding: 0 20px 40px;
    border-radius: 10px; 
    width: 30%; 
}

.aboutAuthor .username,
.aboutAuthor .phone,
.aboutAuthor .authorsFaculty {
    padding: 10px;
    /* border-bottom: 1px solid rgb(37, 36, 36); */
}

.like{
    padding-top: 50px;
}

.aboutAuthor .username{
    cursor: pointer;
}

.aboutAuthor .authorsFaculty{
    padding: 10px; 
}
.aboutAuthor .authorsFaculty img{
    padding: 10px;
    margin: 0 auto;
    width: 30%;
}

.commentsBlock h2{
    padding: 20px;
}

.commentsBlock .comments .commentsOfPost{
    width: 98%;
    height: 400px;
    margin: 30px auto;
    border: 1px solid black;
    background: #fff; 
    overflow-x: hidden;
    overflow-y: scroll;
}

/* Скрытие скроллбара для комментов */
.commentsBlock .comments .commentsOfPost::-webkit-scrollbar {
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}
.commentsBlock .comments .commentsOfPost .commentItem{
    width: 95%;
    margin: 10px;
    padding: 10px;
    background: whitesmoke;
    min-height: 50px;
}
.commentsBlock .comments .commentsOfPost .commentItem .author{
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 10px 10px;
    cursor: pointer;
}
.commentsBlock .comments .commentsOfPost .commentItem .content{
    font-size: 13px;
    color: #1f1e1e;
}
.commentsBlock .comments .commentsOfPost .commentItem .author span.publishedAt{
    text-align: right;
    font-size: 10px;
    font-weight: normal;
    margin-left: 20px;
}
.commentsBlock .comments .newComment form{
    display: flex; 
    width: 100%;
    margin-left: 20px;
}
.commentsBlock .comments .newComment form input{
    width: 530px;
    background: whitesmoke;
    border: none;
    border-bottom: 1px solid #8d8c8c;
    height: 25px;
    padding: 7px;
    font-size: 14px;
    margin-right: 8px;
}
.commentsBlock .comments .newComment form button{
    background: whitesmoke;
    border-radius: 10px; 
}

.blockComment{
    font-style: italic;
    margin-left: 20px;
}