.navbarWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background: #174b81;
    padding: 30px 0 20px;
    /* margin: 20px 0; */
}

/* Search */

.search{
    padding: 0 0 20px 0;
    width: 90%; 
    position: relative;
}

.search input{ 
    width: 100%;
    height: 50px;
    border-radius: 10px;
    font-style: 16px;
    border: none;
    padding: 10px;
}

.search button{
    position: absolute;
    right: 0;
    height: 50px;
    width: 100px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    background: rgb(236, 121, 13);
    border: none;
    color: #174b81;
}

/* Categories style */

.categoriesBlock{ 
    display: grid;
    grid-template-columns: repeat(7, minmax(100px, 1fr));
    grid-template-rows: repeat(2, 115px);
    grid-gap: 10px;
    width: 100%;
    padding: 40px 0 10px;
}

.categoriesItem{
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    margin: 0 auto 10px ;
    padding: 0 10px;
}

.categoriesItem p{
    width: 100%;
}

.icon img{
    width: 35%;
}

.facultyName{
    color: white
}