.topPostsWrapper{
    padding: 20px; 
}

.topPosts{ 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    border: 1px solid #000;
    border-radius: 10px;    
    padding: 10px;
    cursor: pointer;
}

.topPosts a{
    text-decoration: none;
    color: black;
}

.topPostItem{ 
    margin-top: 15px;
}
 
.topPostItem .imgBlock{  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 210px;
    width: 210px;
    border: 3px solid #000;
    border-radius: 10%;    
    margin: 0 auto;
    overflow-y: hidden;

}

.topPostItem img{
    width: 100%;
}

.topPostItem p{ 
    margin: 5px 0 5px 2px;
}
.topPostItem .postTitle{
    font-size: 15px; 
}

.topPostItem .cost{
    font-size: 15px;
    font-weight: bold;
}


/* Slider dots */

.slidersStyle button:before{
    font-size: 30px;
    color: #000 !important;
}