.modalWrapper{
    width: 300px;
    height: 500px;
    margin: 50px auto;
    background: #fff;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

.btnCloseBlock{
    text-align: right;
}

.logoBlock{
    width: 100%;

}
.logoBlock img{
    width: 40%;
    margin: 0 auto;

}
